/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  font-family: ui-sans-serif, system-ui, sans-serif;
  background-color: #f9fafb;
  color: #111827;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
